body {
    margin: 0;
}

.navname{
    margin-left: auto;
}

.navbar-container{
    height:75px;
    background-color:lightblue;
    font-size:1.4rem;
}
 
.navlink{
        
    text-decoration: none;
}

.elevenfifty{
  border-radius: 50%;
}

.portfoliopic{
  display: flex;
    justify-content:center;
    height: 100%;
    align-items:center;
    margin-top:-350px;
}

.hotstuff{
  height:250px;
  width:200px;
  border-radius: 50%;
}

.navbar{
    display: flex;
    height:100%;
    align-items:center;
    justify-content: center;
    color: white;
    margin-top:0;
    text-decoration: none;
}

.navbar li{
    list-style-type: none;
    padding: 0 40px;
}


.title-container{
    height: 400px;
    background-image:url('https://images.unsplash.com/photo-1563212108-928913ca0ee2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1063&q=80');
    background-size: cover;
    background-attachment: fixed; /*can move the image as you scroll without this line*/
    background-position: center;
  
}

.title{
    display: flex;
    justify-content:center;
    font-size:30px;
    height: 100%;
    margin-top: 0;
}

.myname{
  font-size:100px;
  font-family: "Times New Roman", Times, serif;
}

.abouttitle{
  font-family: "Times New Roman", Times, serif;
}

.aboutme-container{
background-image: url('https://images.unsplash.com/photo-1533035353720-f1c6a75cd8ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
margin-top:-21px;
}

.aboutme-row{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
}



.col-xs-12{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    font-size:20px;
    padding: 30px 35px;
}

.project-image{
    background-image:url('https://images.unsplash.com/photo-1563212108-928913ca0ee2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1063&q=80');
    background-attachment: fixed;
    background-size: cover;
}


/* .project-container{
    
    background-image: url('https://images.unsplash.com/photo-1563212108-928913ca0ee2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1063&q=80');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

} */

.title-projects{
    display: flex;
    justify-content:center;
    font-size:80px;
    height: 100%;
    margin-top: 0;
    font-family: "Times New Roman", Times, serif;
}

.myprojects-container{
    margin-left:80px;
}

.row{
  margin-left:130px;
}

.button{
    display: inline-block;
    background: #02576c;
    color:white;
    padding: 20px 25px;
    text-align: center;
    text-decoration:none;
    margin-bottom: 50px;
    margin-left:40px;
}

.contact-title{
    display: flex;
    justify-content:center;
    font-size:30px;
    height: 100%;
    margin-top: 0;
}

.contact-image{
    background-image:url('https://images.unsplash.com/photo-1533035353720-f1c6a75cd8ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80')
}

/* .contact-container{

    background-image:url('https://images.unsplash.com/photo-1533035353720-f1c6a75cd8ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
    font-size:20px;
    height: 100%; 
} */

/* reset */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: 100%;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825em;
  margin-bottom: .5em;
  padding-top: .2em;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1em;
  margin-bottom: 1.5em;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}
